// Place all the styles related to the customer/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.blog_post_ttl{
  margin: 20px 0;
  font-size: 20px;
  line-height: 1.667;
  font-weight: bold;
}


.font{
  text-align:center;
}

.col-3{
  font-size: 20px;
  border-radius: 50px;
}

.image{
  border-radius: 50px;
}

.products_item_body{
  min-width: auto;
  width: auto;
  margin: 50px 12vw 0;
}