<div class="container">
  <div class= "row">
    <div class= "col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <div class= "font_withdrawal">本当に退会しますか？</div>
      <div class="font_withdrawal_list">
        <p>退会すると、会員情報や</br>
        いいねした投稿が閲覧できなくなります。</br>
        退会する場合は、「退会する」をクリックしてください。</br>
        <div class="withdrawal_button">
          <%= link_to "退会しない", customer_customer_path(current_customer), class: 'glyphicon glyphicon-home btn btn-primary' %>
          <%= link_to "退会する", customer_withdraw_customer_path, method: :patch, data: {confirm: "本当に退会してもよろしいですか？"}, class: "glyphicon glyphicon-tint btn btn-danger" %>
        </div>
      </div>
    </div>
  </div>
</div>
