<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <table class="table">
        <thead>
          <tr>
            <th>投稿画像</th>
            <th>題名</th>
          </tr>
        </thead>
        <% @favorites.each do |favorite| %>
      <tbody>
        <tr>
          <td><%= attachment_image_tag favorite.customer, :profile_image, format: 'jpeg', size: "100x100" , fallback: "no_image.jpg" %></td>
          <td><%= favorite.post.name %></td>
          <td><%= link_to '詳細', customer_customer_path(favorite.post) %></td>
        </tr>
      </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>