<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <table class="table">
        <thead>
          <tr>
            <th>プロフィール画像</th>
            <th>ユーザーネーム</th>
          </tr>
        </thead>
        <% @followers.each do |follower| %>
        <tbody>
          <tr>
            <td><%= attachment_image_tag follower.customer, :profile_image, format: 'jpeg', size: "100x100" , fallback: "no_image.jpg" %></td>
            <td><%= follower.follow.last_name %></td>
            <td><%= follower.follow.first_name %></td>
            <td><%= link_to '詳細', customer_customer_path(follower.follow) %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>