<div class="page_title_ph">
    <img src="/assets/CB5CF3D5-F1E4-4092-8B79-B2C294AE8CF3_1_105_c.jpeg" width="100%" height="500" alt="">
</div>
<br>
<div class="about">
  年配者向けのサイトです。こちらのサイトを使って頂くことにより認知症の予防・対策になります。</br>
  積極的に投稿、閲覧して頂くことにより健康寿命を伸ばしワクワクを実感して頂けたら幸いです！</br>
</div>

<div class="about_text">
  ご家族
</div>
