<!--topページ-->
<div class="inner_bg">
  <img src="/assets/354C9DFA-2161-4BEE-81C3-4D09EFC480EB_1_105_c.jpeg" alt="">
    <div class="inner_bg_caption">
      <h1>ようこそS.Frailへ！</h1>
      <p>
      皆さんにワクワクを！</br>
      皆さんの力になれたら幸いです。</br>
      テスト中です！
      </p>
    </div>
</div>

<!--新着一覧-->
<div class = "container">
  <div class = "row">
    <% @posts.each do |post| %>
      <div class = "col-3">
        <%= attachment_image_tag post, :post_image, format: 'jpeg', size: "100x100" , fallback: "no_image.jpg" %></br>
        [<%= post.genre.name %>]<br>
        <%= link_to post.name, customer_post_path(post) %><br>
      </div>
    <% end %>
  </div>
</div>