<!--topページ-->
<!--<div class="swiper-container">-->
<!--  <div class="swiper-wrapper">-->
<!--    <div class="swiper-slide"><img src="/assets/354C9DFA-2161-4BEE-81C3-4D09EFC480EB_1_105_c.jpeg" alt style="width: 200px; height: 100px;"></div>-->
<!--    <div class="swiper-slide"><image src="assets/38AD4B95-731E-48F9-A53A-1298B14D07FD_1_105_c.jpeg" alt style="width: 200px; height: 100px;"></div>-->
<!--  </div>-->
  <!--<div class="swiper-button-prev"></div>-->
  <!--<div class="swiper-button-next"></div>-->

  <div class="box">
  <div class="bgImg src1"></div>
  <div class="bgImg src2"></div>
  <!--<div class="bgImg src3"></div>-->
  <!--<div class="bgImg src4"></div>-->
    <div class="inner_bg_caption">
      <h1>ようこそS.Frailへ！</h1>
        <p>
          皆さんにワクワクを！</br>
          皆さんの力になれたら幸いです。</br>
          テスト中です！
        </p>
    </div>
  </div>

<!--<script>-->
<!--    var mySwiper = new Swiper ('.swiper-container', {-->
      <!--loop: true,         //画像のループ-->
      <!--effect: 'slide',    //切り替わるときのアニメーション-->
      <!--speed: 3000,        //画像の切替スピード-->
      <!--autoplay: {         //自動で動かす-->
<!--        delay: 3000,-->
<!--        disableOnInteraction: true-->
<!--      },-->
      <!--pagination: {        //ページネーション-->
<!--        el: '.swiper-pagination',-->
<!--        type: 'bullets',-->
<!--        clickable: true-->
<!--      },-->
      <!--navigation: {        //ナビケーション-->
<!--        nextEl: '.swiper-button-next',-->
<!--        prevEl: '.swiper-button-prev',-->
<!--      },-->
<!--    });-->
<!--</script>-->

<!--新着一覧-->
<section class="top_blog">
  <h2 class="top_common_hd">
    <span class="caption">新着一覧</span>
  </h2>
<div class="container">
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-3">
        <div class="img"><%= attachment_image_tag post, :post_image, format: 'jpeg', size: "200x200" , fallback: "no_image.jpg" %></div></br>
        [<%= post.genre.name %>]<br>
        <%= link_to post.name, customer_post_path(post) %><br>
      </div>
    <% end %>
  </div>
</div>
</section>