/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

// 全般
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  background-color: #7b9ad0;
}

.header-top-content{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0 30px 0;
  color: white;
}

.logout{
  color: white;
}

.myapge{
  color: white;
}

.newpost{
  color: white;
}

.post{
  color: white;
}

.about{
  color: white;
}

.lists-right{
  display: flex;
  list-style: none;
  margin: 0 30px 0 auto;
  color: white;
}

.header-title{
  font-size: 20px;
  text-decoration: none;
  color: black;
  font-family: 'arial';
  margin-left: 4%;
  color: white;
}

.header-center {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
  font-family: 'arial';
  color: white;
}
