<h1>投稿一覧</h1>
<div class = "container">
  <div class = "row">
    <% @post.each do |post| %>
      <div class = "col-3">
        <%= post.name %><br>
        <%= post.body %><br>
      </div>
    <% end %>
  </div>
</div>
