<div class = "container">
  <div class = "row">
    <% @posts.each do |post| %>
      <div class = "col-3">
        <%= attachment_image_tag post, :post_image, format: 'jpeg', size: "100x100" , fallback: "no_image.jpg" %></br>
        <%= link_to post.name, customer_post_path(post) %><br>
        <%= post.introduction %><br>
        <%= post.genre.name %><br>
      </div>
    <% end %>
  </div>