<main>
<h2 class="font">ランキング一覧</h2>
  <div class="container">
    <div class="row">
      <% @posts.each do |post| %>
        <div class="col-3">
          <div class="ranking_index">
            <div class="ranking_index_list">
              <%= attachment_image_tag post, :post_image, format: 'jpeg', size: "200x200" , fallback: "no_image.jpg", class: "ranking_index_img" %></br>
              [<%= link_to post.name, customer_post_path(post) %>]
              <%= post.genre.try(:name) %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
   <%= paginate @posts %>
  </div>
</main>
